<h2>Welcome, make your appointment Mr. {{name}}</h2>

<div>
    <ul>
        <li *ngFor="let item of doctors">
            Doctor: {{item.name}} {{item.surname}}  <br>
            Title: {{item.area}}
            <p>
                Description: {{item.description}} <br>

            </p>

            <button routerLink="/get-doctor/{{item.id}}">make appointment</button> <br>
        </li>
    </ul>
</div>
<br><br><br>

<button class="btn btn-danger" routerLink="/login">Exit</button>
<button class="btn btn-primary mx-1" routerLink="/profile">Profile settings</button>
